.Rproj.user
.Rhistory
.RData
.Ruserdata

contracts/data/Project.SP_EngineAllVendorHistoryCompetitionFundingMechanismVendorSizeProdServAreaSubCustomer.txt

contracts/data/Vendor.sp_EntityCountHistoryEngineSubCustomer.txt

contracts/data/Summary.SP_CompetitionVendorSizeHistoryBucketPlatformSubCustomer.txt

contracts/app/power_bi.csv

contracts/data/engine.txt

contracts/data/Federal_Location.SP_ProdServPlatformAgencyPlaceOriginVendor.txt

contracts/data/PrimeAwardSummariesAndSubawards_2022-10-11_H07M50S12832943/~$Assistance_PrimeAwardSummaries_2022-10-11_H07M51S13_1.xlsx

contracts/data/~$PrimeTransactions ATEP.xlsx

contracts/data/Project.SP_EngineAllVendorHistoryCompetitionFundingMechanismVendorSizeProdServAreaSubCustomer2.zip

contracts/data/~$service_invest.xlsx

contracts/data/Project.SP_EngineAllVendorHistoryCompetitionFundingMechanismVendorSizeProdServAreaSubCustomerNoDescription.txt

contracts/data/Defense_Project.SP_ProdServPlatformOffice.txt

contracts/data/GEUTC_Project.SP_ParentIDprodServPlatformOffice.txt

contracts/data/Project.SP_EngineAllVendorHistoryCompetitionBudgetMechanismVendorSizeProdServAreaSubCustomer.txt

contracts/data/TopContract.csv

contracts/data/~$TopContract.xlsx

budget/data/~$JSF 0603800.xlsx
